/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.gallery-image:hover {
    transform: scale(1.1);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.lightbox.show {
    display: flex;
    opacity: 1;
}

.lightbox-image {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid white;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #f0f0f0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%;
    }
}
